# TODO: Figure out PHPStan config for PHPStorm w/Docker
parameters:
  level: max
  paths:
    - app
    - database
    - routes

  ignoreErrors:
    - message: '#\$this#'
      path: %currentWorkingDirectory%/routes/console.php
